<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function ts1() {
        tsd1=document.getElementById("t1").value
        location="http://127.0.0.1:8000/sqlapp/test2/"+tsd1
    }
    </script>
<body>
<form action="" method="post">
    <input type="text" name="t1" id="t1"/>
    <input type="button" onclick="ts1()" value="提交">
</form>
    <input type="text" name="t2" id="t2"/>
    <input type="button" value="提交">

<form action="" method="post">

</form>
</body>
</html>